

<div class="container">
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
          <a href="#home" role="tab" data-toggle="tab">
              <icon class="fa icon-terminal"></icon> Web3Console
          </a>
      </li>
      <li><a href="#profile" role="tab" data-toggle="tab">
          <i class="fa icon-book"></i> Help
          </a>
      </li>
    
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="home">
         <div  id="term_demo">
                     
                  </div>
      </div>
      <div class="tab-pane fade" id="profile">
         
<div class="bs-example">
    <div class="panel-group" id="accordion">
         <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">1.General Help</a>
                </h5>
            </div>
            <div id="collapseZero" class="panel-collapse collapse in">
                <div class="panel-body">

                    <p>1 .Please click on green area if cursor is not activated</p>
                    <p>2 .Not all the API are implemented yet.Below is the list of commands implemented so far.</p>
                    <p>3. To paste the command on web2console, please use crtl+v</p>
                   
                   
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2. web3.eth.getBlock</a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body">
                    <p>Command::web3.eth.getBlock(blockHash/BlockNumber)</p>
                    <p>Example --->web3.eth.getBlock(0x7c0b1595e1423435d670e5bd49c5828b4f66ac5b7b89586024666e4ee722e1b4)</p>
                    <p>Example ---> web3.eth.getBlock(3150); </p>
                    <p> <img src="img/web3.eth.getBlock.png"> </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">3. web3.eth.getBalance</a>
                </h5>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Command::web3.eth.getBalance(addressHexString)</p>
                    <p>Example --->web3.eth.getBalance(0x4Bb96091Ee9D802ED039C4D1a5f6216F90f81B01)</p>
                    <p> <img src="img/web3.eth.getBalance.png"> </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">4. web3.eth.getStorageAt</a>
                </h5>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Command::web3.eth.getStorageAt(addressHexString, position)</p>
                    <p>Example --->web3.eth.getStorageAt("0x407d73d8a49eeb85d32cf465507dd71d507100c1", 0);</p>
                    <p> <img src="img/web3.eth.getStorageAt.png"> </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">5. web3.eth.getCode</a>
                </h5>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Command::web3.eth.getCode(addressHexString)</p>
                    <p>Example --->web3.eth.getCode("0xd5677cf67b5aa051bb40496e68ad359eb97cfbf8");</p>
                    <p> <img src="img/web3.eth.getStorageAt.png"> </p>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">6. web3.eth.getTransaction</a>
                </h5>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                     <p>Command::web3.eth.getTransaction(transactionHash)</p>
                    <p>Example --->web3.eth.getTransaction(0x5070a50a7f69a31ed9b4aca85be80f53f1d1fde78302e748bdc50921df3a789c)</p>
                    <p> <img src="img/web3.eth.getTransaction.png"> </p>
                </div>
            </div>
        </div>
    </div>
 
</div>
      </div>
     
    </div>
    
</div>

<br/>


    <footer class="footer-distributed">

     

      <div class="footer-left">

        <p class="footer-links">
          <a href="https://github.com/ranjanmanishr/Web3Console"><icon class="fa icon-github-sign"></icon></a>
          </p>

        <p>EtherWorld.co &copy; 2017</p>
      </div>

    </footer>


